<div class="row no-gutters">
    <div class="col-12 col-sm-6 bg-white">
        <img src="/editorial-1.png" alt="Editorial Image" class="img-fluid">
    </div>
    <div class="col-12 col-sm-6 bg-primary p-5 text-light">
        <div class="row">
            <div class="col-8 text-light">
                <h1 class="text-white mb-3">Why Help?</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim rem ab ut error corporis nesciunt nemo quos quasi? Dolorem ducimus ipsam nihil quos eius. Unde impedit exercitationem molestias dolore quaerat.</p>
                <div class="row">
                    <div class="col">
                        <h6 class="footer-header border-bottom border-light pb-2 text-light">Get Involved</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, inventore consequuntur natus adipisci in doloremque? Doloribus at autem, amet vel ipsum sed nulla ea dicta architecto cumque laudantium similique veritatis.</p>
                    </div>
                    <div class="col">
                        <h6 class="footer-header border-bottom border-light pb-2 text-light">Get Involved</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, inventore consequuntur natus adipisci in doloremque? Doloribus at autem, amet vel ipsum sed nulla ea dicta architecto cumque laudantium similique veritatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>