<header class="primary-header">
    <div id="scrollnav" class="bg-light w-100 fixed-top shadow">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light py-3 px-sm-0 px-lg-0 px-xl-5">
                <a class="navbar-brand" href="/">
                    <img src="/img/hhr-logo.svg" width="190" height="30" alt="Hearts and Homes for Refugees" style="transform: scale(1.5 , 1.5);">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Get Involved <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Get Informed</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mx-2 active">
                            <a class="nav-link" href="#">Style Guide</a>
                        </li>
                        <li class="nav-item mx-3 d-flex align-items-center text-primary">
                            <i class="fas fa-search"></i>
                        </li>
                        <li class="nav-item ml-3 d-flex align-items-center">
                            <button class="btn btn-primary px-4 shadow"> <strong>Donate</strong> </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light p-5 px-sm-0 px-lg-0 px-xl-5">
            <a class="navbar-brand" href="/">
                <img src="/img/hhr-logo.svg" width="190" height="30" alt="Hearts and Homes for Refugees" style="transform: scale(1.5 , 1.5);">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Get Involved <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Get Informed</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item mx-2 active">
                        <a class="nav-link" href="#">Style Guide</a>
                    </li>
                    <li class="nav-item mx-3 d-flex align-items-center text-primary">
                        <i class="fas fa-search"></i>
                    </li>
                    <li class="nav-item ml-3 d-flex align-items-center">
                        <button class="btn btn-primary px-4 shadow"> <strong>Donate</strong> </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container hero" style="padding-top: 12vh; padding-bottom: 18vh;">
        <div class="row">
            <div class="col">

                <span id="showScroll" class="">WELCOME</span>
                <h2 class="display-4 pt-2">Engaging in advocacy now will help shift the paradigm of refugee resettlement.</h2>

                <p class="lead">This is the style guide for the Hearts and Homes for Refugees nonprofit organization. This will be available for future designers/developers in order to keep the website looking it's best. </p>

            </div>
        </div>
    </div>
</header>