<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    {{ $style := resources.Get "css/main.scss" | resources.ToCSS |  }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <script src="https://kit.fontawesome.com/a39ff0ec88.js"></script>
    <title>Style Guide - Hearts and Homes for Refugees</title>
</head>